.header {
  margin: 0;
  padding: 0;
  height: 16vh;
  width: 100vw;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*position: fixed;
  z-index: 1000;*/
}

.containerLogoMenu {
  height: 16vh;
  width: 29vw;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 13vh;
  width: 16vw;
  margin: 0;
  padding: 3px;
  margin-left: 4%;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  margin-left: 0;
  padding-left: 0;
}


.inputDiv {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.linput {
  display: flex;
  align-items: center;
  width: 300px;
  background-color: white;
  border-radius: 17px;
  border: 1px solid #ccc;
  padding: 12px 19px;
}

.contactTitle {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
}

.contactButton {
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 30px;
  padding: 2px 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.phoneIcon {
  background-color: #ffffff;
  color: rgb(230, 230, 230);
  padding: 8px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phoneNumber {
  color: #28c006;
  font-weight: bold;
  font-size: 13px;
  border: none;
}

.firstIcon {
  border: none;
  font-size: 24px;
  transform: scaleX(0.85);
  transition: all 0.3s ease;
}

.hideMenu {
  height: 5vh;
  width: 1.5vw;
  border: none;
  background-color: white;
  align-items: center;
}

.searchButton {
  border: none;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000;
  font-size: 18px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.searchButton:hover {
  transform: translateY(-50%) scale(1.1);
  color: #000;
}

.searchButton:active {
  transform: translateY(-50%) scale(0.95);
  /*  effet clic "enfoncé" */
}

.userButton {
  font-size: 1.3em;
  border: none;
  background: transparent;
  box-shadow: none;
  display: flex;
  color: rgba(28, 28, 28, 0.877);
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.userButton:hover {
  transform: translateY(-5px);
}

.userButton:active {
  transform: scale(0.95);
}

.inputWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  /* ou fixe, ex: 300px */
}

.iconAlign {
  font-size: 24px;
  border: none;
  background: transparent;
  color: #1f1e1e;
  transition: all 0.3s ease;
}

.iconAlign:hover {
  color: #000000;
  cursor: pointer;
  transform: scale(1.1);
}

.monpopover {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttonPopover {
  background-color: transparent;
  color: #1f1e1e;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonPopover:hover {
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 4px;
}